<section class="todo-section">
  <form class="" ng-submit="addTodo(newTodo); newTodo = null" method="post">
    <input class="input-todo" type="text" ng-model="newTodo.listItem">
    <button class="button-create-todo" type="button" ng-click="addTodo(newTodo); newTodo = null" name="button">Create</button>
  </form>
</section>

<section class="todo-list-section">
  <h1>To-Do List</h1>
  <div ng-repeat="item in todoItems track by $index"class="list-item-wrapper">
    <input type="checkbox" style="cursor: pointer" ng-model="item.checked">
    <p>{{item.listItem}}</p>
  </div>
  <button type="button" class="update-list" ng-click="updateList()">Update List</button>
</section>

<section class="todo-list-section">
  <h1>Completed Items</h1>
  <div ng-repeat="completedItem in completedItems track by $index"class="list-item-wrapper">
    <p>{{completedItem[0].listItem}}</p>
    <button type="button" ng-click="deleteCompleted($index)" name="button">Remove</button>
  </div>
</section>

<button type="button" class="chat-link" ui-sref="chat">My Chat</button>
